.super-heading-background{
   background: url("../images/header-background.jpg");
}

.my-button:hover{
    background-color: #53047bac !important;
}

.free-book{
    background: url("../images/header-background.jpg") center center;
    margin-top: 200px;
}

.free-book-img{
    margin-top:   -6rem;
}

.footer{
    padding-top: 80px;
    padding-bottom: 80px;
}
