.header{
   background: url("../images/header-background.jpg");
}

.my-button:hover{
    background-color: #53047bac !important;
}

.free-book{
    background: url("../images/header-background.jpg") center center;
    margin-top: 200px;
}

.free-book-img{
    margin-top:   -6rem;
}

.footer{
    padding-top: 80px;
    padding-bottom: 80px;
}

.navbar {
    transition: all 0.5s ease-in-out;
  }
  
  .navbar-sticky {
    opacity: 0.9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }